<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MageBaseUrlApi" value="https://api.mage.stream" />
    <add key="bg-pink-600" value="#FFDB2777"/>
    <add key="text-pink-500" value="#FFEC4899"/>
    <add key="bg-green-700" value="#FF15803D"/>
    <add key="text-green-600" value="#FF16164A"/>
    <add key="bg-gray-600" value="#FF4B5599"/>
    <add key="text-info" value="#FF0182FF"/>
    <add key="default-color" value="#FF191e24"/>   
  </appSettings>
</configuration>