# This workflow will build, sign, and package a WinUI 3 MSIX desktop application
# built on .NET.

name: ci-dev.yml

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  test:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Test using MSTest

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
  
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build

    - name: Test with the dotnet CLI
      run: dotnet test